<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
>
  <app-dropdown formControlName="account"
                [items]="accounts$ | async"
                label="Account"
                [allowEmpty]="false"
  >
  </app-dropdown>
  <app-dropdown formControlName="portfolio"
                [items]="portfolios$ | async"
                label="Portfolio"
                [allowEmpty]="false"
  >
  </app-dropdown>
  <app-dateinput formControlName="date"
  ></app-dateinput>
  <app-timeinput formControlName="time"
  ></app-timeinput>
  <app-typeahead formControlName="security"
                 [searchFn]="securitySearchFn"
                 label="Security">
  </app-typeahead>
  <app-dropdown formControlName="currency"
                [items]="currencies"
                label="Currency"
                [allowEmpty]="false"
  ></app-dropdown>
  <app-numberinput formControlName="amount"
                   appPlaceholder="Amount"
  ></app-numberinput>
  <app-numberinput formControlName="pricePerUnit"
                   appPlaceholder="Price per unit"
  ></app-numberinput>
  <app-numberinput formControlName="price"
                   appPlaceholder="Price"
  ></app-numberinput>
  <app-numberinput formControlName="brokerFee"
                   appPlaceholder="Broker fee"
  ></app-numberinput>
  <app-numberinput formControlName="exchangeFee"
                   appPlaceholder="Exchange fee"
  ></app-numberinput>
  <button type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid || isPending"
  >
    Create
  </button>
</form>
